
pyinstaller
auto-py-to-exe
urllib3
colorama
psutil
requests
dnspython
bcrypt
beautifulsoup4
pypiwin32
whois
cryptography
screeninfo
GPUtil
pycryptodome
discord.py
discord
Pillow
browser-cookie3
opencv-python
pyautogui